<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @box.name %>
      </h1>
    </section>
    
    <ul class="ingredients">
      <%= render partial: 'boxes/ingredient_category', collection: @ingredient_categories %>
    </ul>
    
  </aside>
</div>
